PYTHON = ./text2play/bin/python

# Wikiart API configuration
API_ACCESS_KEY=
API_SECRET_KEY=

# Path to the output csv file to generate the paintings dataset
RAW_DATA_PATH=src/data/raw
DATASET_RAW_FILE_NAME=paintings_dataset.csv
PROCESSED_DATA_PATH=src/data/processed
DATASET_PROCESSED_FILE_NAME=paintings_dataset.csv

# Google Cloud Settings
GCP_REGION=europe-west1
GCP_PROJECT_ID=
GCP_REPOSITORY_NAME=
SERVICE_URL=
GCR_MEMORY=2Gi

# Docker settings
DOCKER_IMAGE_TAG=1.0.0
CONTAINER_NAME=text2play-api-container
